In [212]:
import pandas as pd
import numpy as np
import json

In [213]:
#read the file!

In [214]:
data = json.load(open('scraped_players.json'))

In [215]:
df = pd.read_json("scraped_players.json")

In [216]:
#Wow it works!!!!

In [217]:
#df.describe() was herebut I didn't want to print it out everytime so just commented it out

In [218]:
#this happened in class too and I have not idea why I can't describe the data. so I'll leave this for now...

In [219]:
#so I'll just look at info

In [220]:
#df.info was here

In [221]:
#well it doesn't look pretty. got to do something.

In [222]:
#really didn't know how to clean this so I looked at the Heels Stats.ipynb

In [223]:
s_data = []
for p in data:
    for k, v in p.get('stats', {}).get('career_stats', {}).items():
        s_type = k.lower().split()[0]
        name = p.get('Full Name')
        if not name:
            continue
        num = p.get('#')
        if not num:
            continue
        for s in v:
            s['name'] = name
            s['num'] = num
            s['stat_type'] = s_type
            s_data.append(s)

In [224]:
#so next I'm trying to put the clean data in. codes from Heels Stats.ipynb.

In [225]:
# s_data

In [226]:
df = pd.DataFrame(s_data)

In [227]:
df = df.apply(pd.to_numeric, errors='ignore')

In [228]:
#df

In [229]:
#df. info()

In [230]:
#df.describe

In [231]:
#I'll see how many errors these players make

In [239]:
df['ea'] = df.e / df.sp

In [240]:
df.columns

Index(['%', 'a', 'a/s', 'b/s', 'ba', 'be', 'bhe', 'bs', 'd/s', 'dig', 'e', 'k',
       'k/s', 'mp', 'name', 'num', 'pts', 'pts/s', 're', 'sa', 'sa/s', 'se',
       'sp', 'stat_type', 'ta', 'tb', 'year', 'ea'],
      dtype='object')

In [241]:
#I'll see who's the worst player

In [251]:
df.loc[:, ('name', 'ea')]

                  name        ea
0         Mariah Evans  0.008197
1         Mariah Evans       NaN
2       Kendra Koetter  0.021053
3       Kendra Koetter       NaN
4         Taylor Borup  0.740260
5         Taylor Borup  0.926471
6         Taylor Borup       NaN
7         Taylor Borup       NaN
8        Holly Carlton  0.707547
9        Holly Carlton       NaN
10  Katharine Esterley  0.386364
11  Katharine Esterley       NaN
12        Casey Jacobs  0.000000
13        Casey Jacobs  0.000000
14        Casey Jacobs  0.000000
15        Casey Jacobs       NaN
16        Casey Jacobs       NaN
17        Casey Jacobs       NaN
18       Sydnye Fields  0.520548
19       Sydnye Fields  0.600000
20       Sydnye Fields       NaN
21       Sydnye Fields       NaN
22        Julia Scoles  0.800000
23        Julia Scoles  1.500000
24        Julia Scoles       NaN
25        Julia Scoles       NaN
26      Mia Fradenburg  0.000000
27      Mia Fradenburg  0.030303
28      Mia Fradenburg       NaN
29      Mia Fradenburg       NaN
30  Madison Laufenberg  0.625000
31  Madison Laufenberg  0.571429
32  Madison Laufenberg  0.600000
33  Madison Laufenberg       NaN
34  Madison Laufenberg       NaN
35  Madison Laufenberg       NaN
36  Maddie Grace Hough  0.000000
37  Maddie Grace Hough       NaN
38       Greer Moseman  0.000000
39       Greer Moseman  0.000000
40       Greer Moseman       NaN
41       Greer Moseman       NaN
42        Taylor Leath  0.897959
43        Taylor Leath  0.991453
44        Taylor Leath  1.443396
45        Taylor Leath       NaN
46        Taylor Leath       NaN
47        Taylor Leath       NaN

In [260]:
by_error = df.groupby('ea')

In [263]:
#so that was fun. will work on it more if I have time!